@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@layer base {
  :root {
    --color-charcoal: 37, 56, 74;
    --color-upsdell-red: 175, 39, 52;
    --color-asparagus: 121, 159, 81;
    --color-max-yellow: 241, 181, 61;
    --color-blizzard-blue: 156, 220, 231;
    --color-dark-slate-blue: 60, 144, 242;
    --color-davys-grey: 84, 88, 96;
    /* ... */
  }
}